@charset "UTF-8";
/*----------font import------------
----------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700");
/*----------font style------------
----------------------------------*/
/*----------color style------------
----------------------------------*/
/*----------color theme------------
----------------------------------*/
/*--------style base template------------*/
body {
  font-family: "Montserrat";
  color: #000; }

#Container {
  width: 100%;
  margin: 0;
  padding: 0; }

a {
  color: inherit; }
  a:hover, a:focus {
    color: inherit;
    text-decoration: none; }

.right {
  float: right !important; }

.btn {
  padding: 2px 30px;
  margin-left: 10px;
  font-size: 15px;
  border: 1px solid transparent;
  border-radius: 0;
  border: 0; }

.btn-red {
  color: #fff;
  background-color: #e5313a;
  transition: 0.2s; }
  .btn-red:hover {
    color: #fff; }

.btn-grey {
  color: #fff;
  background-color: #5b5b5b;
  transition: 0.3s ease-in-out; }
  .btn-grey:hover {
    background-color: #fff;
    color: #5b5b5b;
    transition: 0.3s ease-in-out; }

.bg-black {
  background: #000; }

.bg-yellow {
  background: #ffa414; }

.bg-purple {
  background: #bd007b; }

.bg-dark-purple {
  background: #b00057; }

.bg-white {
  background: #fff !important; }

.white {
  color: #fff; }

/*--------section-general-----------*/
.wrap-title {
  padding: 20px 15px 0; }
  .wrap-title span {
    padding-left: 10px;
    font-size: 10px;
    text-decoration: underline; }

.icon-section {
  display: inline-flex; }

.title-section {
  text-transform: uppercase;
  text-align: left;
  font-family: "Hind";
  font-size: 22px;
  display: inline-block;
  margin-left: -10px; }

/*-----------------------
--------------------------------*/
/*--------social------------*/
@media (max-width: 1199px) {
  .wrap-social {
    position: fixed;
    top: 45%;
    right: 0;
    z-index: 1000; }

  .content-social li {
    width: 30px;
    height: 30px;
    margin-bottom: 5px; }
    .content-social li:hover {
      -webkit-animation: shake 1500ms;
      animation: shake 1500ms; }
    .content-social li img {
      width: 50%; }

  .content-social li:first-child img {
    width: 30%;
    padding-top: 5px; } }
.social {
  position: absolute;
  width: 400px;
  height: 300px;
  right: 0; }

@media (min-width: 1200px) {
  .wrap-social {
    position: fixed;
    margin-left: 20px;
    top: 65%;
    z-index: 1000; }

  .content-social li {
    width: 50px;
    height: 50px;
    margin-bottom: 5px; }
    .content-social li:hover {
      -webkit-animation: shake 1500ms;
      animation: shake 1500ms; } }
.content-social ul {
  list-style: none; }
.content-social a img {
  display: block;
  margin: 0px auto;
  padding-top: 10px; }
.content-social .f {
  background: #3b5998; }
.content-social .t {
  background: #0084b4; }
.content-social .i {
  background: #ffa414; }
.content-social .lt {
  background: #81CFE0; }
.content-social .m {
  background: #ff1464; }

/*-----------animation-----------------
----------------------------------*/
.animated-carousel {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.carousel-control {
  opacity: 1; }

.carousel-control.left, .carousel-control.right {
  background-image: none; }

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
  width: 30px;
  height: 30px;
  margin-top: -10px;
  font-size: 20px;
  background-color: #000;
  border-radius: 50%;
  padding-top: 4px; }

.carousel-caption {
  right: 0;
  left: 0;
  text-align: left;
  padding-bottom: 30px;
  text-shadow: none;
  font-family: "Hind"; }

.caption-title {
  background: #ffa414;
  padding: 8px 20px 8px 15px;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-left: -15px; }

.caption-content {
  padding-top: 8px;
  display: table-cell;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600; }

.icon-caption {
  background-image: url(../images/png/forme-bluegreen.png);
  background-repeat: no-repeat no-repeat;
  background-size: 60%;
  width: 80px;
  height: 100px;
  position: absolute;
  top: -40px;
  right: -40px;
  -webkit-animation: pulse 2000ms infinite;
  animation: pulse 2000ms infinite;
  transition: 0.2s ease-in-out;
  cursor: pointer; }
  .icon-caption:hover {
    color: #000;
    transition: 0.2s ease-in-out; }
  .icon-caption i {
    position: absolute;
    top: 18px;
    left: 18px;
    font-size: 18px; }

@media (max-width: 767px) {
  .carousel-header {
    width: 100%; }

  .carousel-control {
    display: none; }

  .caption-title {
    font-size: 10px; }

  .caption-content {
    font-size: 14px; }

  .icon-caption {
    background-size: 50%;
    right: -50px;
    top: -30px; }
    .icon-caption i {
      top: 15px;
      left: 15px;
      font-size: 14px; } }
/*-----------end max-width 767px----------*/
@media (max-width: 768px) {
  .carousel-inner > .item {
    overflow: hidden; } }
/*-----------end max-width 768px----------*/
@media (max-width: 1024px) {
  .carousel-caption {
    top: 50%; }

  .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: initial;
    margin-left: -40vh;
    height: 45vh; } }
/*-----------end max-width 1024px----------*/
@media (min-width: 768px) {
  .carousel-control {
    width: 4%;
    display: block; }

  .carousel-control.left {
    left: 0; }

  .carousel-control.right {
    right: 0; } }
/*-----------end min-width 768px----------*/
@media (min-width: 1200px) {
  .carousel-control {
    width: 2%; }

  .carousel-control.left {
    left: 18.5%; }

  .carousel-control.right {
    right: 18.5%; }

  .carousel-caption {
    top: 60%; } }
/*-----------end min-width 1200px----------*/
/*-----------wrap header--------------------
------------------------------------------*/
.wrap-header {
  position: absolute;
  padding: 5px 0 10px;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6); }

.wrap-nav-header {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.wrap-content {
  position: relative; }

.logo {
  top: 8px;
  z-index: 2;
  transition: 0.2s ease-in-out; }
  .logo:hover {
    opacity: 0.8;
    transition: 0.2s ease-in-out; }

.search {
  display: flex;
  justify-content: flex-end; }

.form-control {
  border-radius: 0; }

.input-group .btn {
  border-radius: 50% !important;
  margin-left: 10px !important; }

.btn-round {
  display: inline-block;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 50%; }

.btn-search {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  padding: 0;
  transition: transform 0.2s ease-in-out; }
  .btn-search:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2);
    color: #fff; }

.search-plus {
  padding: 5px 40px;
  font-size: 11px; }
  .search-plus a {
    text-align: right;
    color: #fff;
    text-decoration: underline; }

@media (max-width: 767px) {
  .wrap-nav-header {
    height: 25px; }

  .nav-header {
    display: none; }

  .btn-zoom {
    display: none; }

  .logo {
    width: 65%;
    left: 15%; }

  .search {
    display: none; }

  .user {
    top: 0;
    right: 0;
    position: absolute;
    display: inline-block; }
    .user img {
      width: 15px;
      height: 15px; } }
/*-----------end max-width 767px----------*/
@media (min-width: 768px) {
  .wrap-nav-header {
    height: 30px; }

  .nav-header {
    font-size: 11px; }
    .nav-header ul {
      text-decoration: none;
      list-style: none;
      text-align: right;
      padding-top: 8px; }
    .nav-header li {
      display: inline-block;
      border-right: 1px solid #fff;
      padding-right: 10px;
      padding-left: 10px; }

  .nav-header a {
    color: #fff; }

  .nav-header li:last-child {
    border: none; }

  .btn-zoom {
    float: left;
    height: 25px;
    margin-left: 0;
    margin-top: 6px;
    width: 100px; }

  .zoom-up {
    background-image: url(../images/png/A+.png);
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    height: 25px;
    width: 30px; }

  .zoom {
    background-image: url(../images/png/A.png);
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    height: 25px;
    width: 30px;
    padding-top: 3px; }

  .zoom-down {
    background-image: url(../images/png/A-.png);
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    height: 25px;
    width: 30px; }
    .zoom-down::after {
      position: absolute;
      content: '';
      width: 1px;
      height: 20px;
      background-color: #fff;
      right: 0;
      left: 100px; }

  .search {
    top: 40px;
    right: -15px; }

  .user {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 0; }
    .user img {
      width: 20px;
      height: 20px; }

  .logo {
    width: 35%;
    left: -15px;
    display: inline-block; } }
/*-----------end min-width 768px----------*/
@media (min-width: 1200px) {
  .logo {
    width: 30%; } }
/*-----------end min-width 1200px----------*/
/*-----------sortir-----------------
----------------------------------*/
.navbar-default .navbar-toggle {
  border: none; }

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent; }

.fixed-main {
  position: fixed;
  width: 100%;
  z-index: 100; }

.navbar {
  border: 0;
  border-radius: 0; }

.navbar-default {
  background-color: #fff;
  border-color: transparent; }

@media (max-width: 767px) {
  .navbar-default {
    position: relative; } }
@media (min-width: 768px) {
  .navbar-default {
    display: flex;
    justify-content: center; } }
.nav > li > a {
  padding: 10px 25px;
  text-align: center;
  text-transform: uppercase; }

@media (min-width: 768px) and (max-width: 1023px) {
  .nav > li > a {
    padding: 10px 15px;
    font-size: 10px; } }
.navbar-nav > li > a {
  border-right: 1px solid #000;
  margin-top: 10px;
  padding-top: 0;
  padding-bottom: 0; }

.navbar-default .navbar-nav > li > a::after {
  font-family: "FontAwesome";
  content: "\f107";
  display: inline-block;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 5px;
  top: 0; }

.dropdown-menu {
  border: 0;
  box-shadow: none;
  right: 0;
  left: inherit; }

.dropdown-btn > a::after {
  top: auto !important;
  font-family: "FontAwesome";
  content: "\f107";
  display: inline-block;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 5px; }

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 0;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

.drop-btn {
  border-right: 0 !important; }

/* MEGA MENU STYLE
********************************/
.nav-mega {
  width: 100%; }
  .nav-mega .dropdown {
    position: static; }

.mega-menu {
  padding: 10px 0px !important;
  border-radius: 0;
  margin-top: 0px;
  height: 50vh; }
  .mega-menu ul {
    padding-left: 0; }

.mega-menu li {
  display: block;
  padding: 3px 0px; }

.mega-menu li.mega-menu-column {
  display: inline-block;
  margin-right: 35px;
  margin-left: 35px; }

.mega-menu .nav-header {
  padding: 0 !important;
  margin-bottom: 10px;
  width: 100%;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 15px; }

.mega-menu img {
  padding-bottom: 10px; }

.dropdown-open-center {
  display: flex;
  justify-content: center;
  margin-top: 30px; }

.dropdown-menu {
  background: #81CFE0; }

.dropdown-menu-white {
  background: #fff; }

/* Disable Toggle style
********************************/
/* Dropdown Toggle on style */
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background: inherit;
  /* Set to inherit when using mouse hover to open dropdown */
  color: inherit; }

/* Toggle off style */
.navbar .nav li.dropdown.open.active > .dropdown-toggle,
.navbar .nav > li.dropdown > a:focus {
  background: inherit;
  color: inherit; }

/* Toggle hover */
.navbar .nav li.dropdown > .dropdown-toggle:hover,
.navbar .nav li.dropdown.open > .dropdown-toggle:hover {
  background-color: #81CFE0; }

/* Toggle caret*/
.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-bottom-color: transparent;
  border-top-color: transparent; }

/* Toggle caret hover */
.navbar .nav li.dropdown > a:hover .caret,
.navbar .nav li.dropdown > a:focus .caret {
  border-bottom-color: #333;
  border-top-color: #333; }

/* Toggle caret active */
.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-bottom-color: #333;
  border-top-color: #333; }

dropdown-men
.navbar .nav > li > a, .mega-menu a {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  /* -webkit-transform: translate3d(0, 0, 0); Webkit Hardware Acceleration*/
  -webkit-backface-visibility: hidden;
  /* Safari Flicker Fix #2 */
  -webkit-transform: translateZ(0); }

.nav > li > .btn-blue {
  background-color: #3089ae;
  color: #fff !important;
  padding: 10px;
  margin-left: 10px; }

.nav > li > .btn-red-nav {
  background-color: #e5313a;
  color: #fff !important;
  padding: 10px;
  margin-left: 10px; }

.navbar-default .navbar-nav > li > .btn-blue:hover,
.navbar-default .navbar-nav > li > .btn-blue:focus {
  background-color: #3089ae; }

.navbar-default .navbar-nav > li > .btn-red-nav:hover,
.navbar-default .navbar-nav > li > .btn-red-nav:focus {
  background-color: #e5313a; }

.navbar-toggle {
  float: left;
  margin-left: 15px; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./../images/ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/../../fonts/slick.eot");
  src: url("./fonts/../../fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/../../fonts/slick.woff") format("woff"), url("./fonts/../../fonts/slick.ttf") format("truetype"), url("./fonts/../../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: #5b5b5b;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/*-----------acces-direct-----------
----------------------------------*/
.access {
  background-image: url(../images/png/bg-pattern.png); }

.title-access {
  text-align: center;
  text-transform: uppercase;
  padding: 5px; }

.slider {
  width: auto;
  margin: 20px auto;
  text-align: center;
  padding: 20px;
  color: #000; }
  .slider .parent-slide {
    padding: 15px; }
  .slider img {
    display: block;
    margin: auto; }

.slide .icon-round {
  display: inline-block;
  background: #5b5b5b;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  transition: all 0.3s ease-in-out; }
  .slide .icon-round:hover {
    background: #6ABC9F;
    transition: all 0.3s ease-in-out;
    transform: scale(0.95); }
    .slide .icon-round:hover img {
      transform: rotate(-5deg);
      transition: all 0.3s ease-in-out; }
  .slide .icon-round img {
    transition: all 0.3s ease-in-out; }

.slide .icon-inline {
  padding-top: 18px;
  display: inline-block; }

.slide .paiement {
  padding-top: 25px; }

.txt-access {
  padding-left: 40px;
  padding-right: 40px;
  text-transform: uppercase;
  padding-top: 10px;
  font-weight: 600;
  font-family: "Hind"; }

/*-----------actus-----------------
----------------------------------*/
.actus {
  padding-bottom: 50px;
  display: table-cell; }

.actu {
  display: inline;
  color: #fff; }

.wrap-actu {
  position: relative;
  transition: 0.3s;
  z-index: 10; }

.thumb-title {
  opacity: 1;
  color: black;
  z-index: 2000;
  text-align: center; }

.actu-title {
  background: #000;
  position: absolute;
  top: -27px;
  padding: 5px 20px 5px 20px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  font-family: "Hind"; }

.actu-content {
  padding: 10px; }

@media (min-width: 768px) {
  .hover-bg {
    overflow: hidden;
    display: inline-block;
    background: #bd007b; }

  .img-actu {
    opacity: 1;
    transition: all 0.3s ease-in-out; }
    .img-actu:hover {
      transform: rotateZ(5deg) scale(1.2);
      transition: all 0.3s ease-in-out;
      opacity: 0.7;
      overflow: hidden;
      z-index: 150; } }
.more {
  position: relative;
  padding-bottom: 10px; }

.icon-more {
  position: absolute;
  top: -15px;
  right: 10px; }

/*-----------slick-mobile-----------------
----------------------------------*/
@media (max-width: 767px) {
  .slick-next {
    right: 0px; }

  .slick-prev {
    left: 0px; } }
/*-----------sortir-----------------
----------------------------------*/
.sortir {
  background: #bd007b;
  margin-top: 30px; }
  .sortir .wrap-title {
    padding-top: 0;
    margin-top: -5px; }

.list-date {
  color: #fff;
  text-transform: uppercase;
  font-family: "Hind";
  display: inline-block;
  position: absolute;
  margin-top: 45px; }

@media (max-width: 767px) {
  .list-date {
    position: relative; } }
@media (min-width: 768px) {
  .list-date {
    right: 15px; } }
@media (min-width: 1024px) {
  .list-date {
    right: 55px; } }
@media (min-width: 1200px) {
  .list-date {
    float: right;
    position: relative;
    right: 0; } }
.btn-date {
  background: #5b5b5b; }

.sortir-content {
  padding-top: 20px; }

.actu-title-sortir {
  background: #fff;
  position: absolute;
  top: -75px;
  left: 20px;
  padding: 5px 50px 5px 10px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 100;
  font-family: "Hind"; }

.note {
  background: #fff;
  position: absolute;
  font-family: "Hind";
  padding-left: 5px;
  padding-right: 5px;
  top: -50px;
  left: 20px; }
  .note p {
    padding: 0;
    margin: 0;
    font-size: 20px; }

.actu-content-sortir {
  padding: 5px 20px; }

.bold-note {
  font-size: 35px;
  font-weight: 900; }

.infos-content {
  padding: 2px 20px;
  font-weight: 900; }

.time {
  margin: 0; }

.title-content-sortir {
  text-transform: uppercase;
  margin: 0; }

.icon-more-center {
  display: flex;
  justify-content: center; }

.icon-more-sortir {
  background: #bd007b;
  padding: 5px 20px 0;
  color: #fff;
  transition: padding 0.2s ease-in-out; }
  .icon-more-sortir:hover {
    color: #fff;
    padding: 5px 60px 0;
    transition: padding 0.2s ease-in-out; }

.footer {
  background-image: url(../images/png/bg-pattern.png); }

.footer-content {
  padding-top: 30px; }

.btn-abo {
  padding: 10px 90px 10px 10px;
  text-transform: uppercase; }

.info-abo {
  padding-top: 30px; }

.btn-inscr {
  background-color: #666666;
  color: #fff;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  border: 1px solid transparent; }

.adresse {
  padding-bottom: 30px; }

.inscription {
  padding-top: 20px; }

.credit {
  font-size: 12px; }
  .credit ul {
    padding-left: 0;
    display: flex;
    justify-content: flex-end;
    list-style: none; }
  .credit li {
    padding-left: 20px;
    padding-bottom: 20px; }

.logo-inexine {
  width: 20px;
  height: 20px;
  margin-left: 10px; }

/*# sourceMappingURL=main.css.map */
